@import url('https://fonts.cdnfonts.com/css/torus');

*{
  margin: 0;
  padding: 0;
  font-family: Torus,Inter,"Helvetica Neue",Tahoma,Arial,"Hiragino Kaku Gothic ProN",Meiryo,"Microsoft YaHei","Apple SD Gothic Neo",sans-serif;
}

textarea:focus,
input:focus {
  outline: none;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  color: #fff;
  text-decoration: none;
}

p {
  font-size: 14px;
  color: hsl(211.86,100%,5%);
}

button{
  padding: 8px 15px;
  border-radius: 8px;
  background-color: hsl(211.86,80%,40%);
  border: none;
  color: #fff;
  transition: all .3s;
  cursor: pointer;
}

button:hover {
  background-color: hsl(212, 80%, 35%);
}
