.comments-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px 15px;
    background-color: #dddcdc;
}

.comments-container > form{
    display: flex;
    border: 1px solid #b8b7b7;
}
.comments-container > form > input{
    width: 100%;
    padding: 4px 2px;
    
    border: none;
}
.comment-btn {
    border-radius: 0;
}
.comment-btn > span {
    vertical-align:bottom;
    border: solid;
}