.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    background-color: hsl(211.86,10%,80%);
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s;
}
.card > h4 > .icon {
    color: rgba(206, 54, 54, 0.918);
}
.card:hover {
    background-color: hsl(210, 10%, 73%);
}
.times {
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.sub-time {
    font-size: 10px;
    font-weight: 600;
}