.layout { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    height: 100%;
}
.outlet {
    height: 100%;
    background-color: hsl(211.86,10%,90%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}