.post-stats{
    padding: 4px 0px;
    display: flex;
    justify-content: space-between;
}

.upvotes {
    font-size: 18px;
}

.update-icons .icon{
    background-color: #dddcdc;
    padding: 5px 6px;
    border-radius: 15px;
    transition: all .3s;
}
.update-icons .icon:hover{
    background-color: #cfcece;
}

