nav { 
    padding: 14px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(211.86,60%,45%);
    color: #fff;
}

nav > ul {
    display: flex;
    gap: 25px;
}
