nav { 
    padding: 14px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(211.86,60%,45%);
    color: #fff;
}

nav > ul {
    display: flex;
    gap: 25px;
}

nav > input {
    padding: 3px 16px;
    width: 250px;
    border-radius: 15px;
    border: 2px solid hsl(211.86,80%,40%);
}