.user-page{
    margin-top: 150px;
    color:hsl(211.86,80%,40%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding-bottom: 20px;
    border-radius: 8px;
    width: 500px;
    background-color: hsl(211.86,10%,80%);
    box-shadow: 1px 1px 5px hsl(213, 7%, 75%);
}
.user-page > h1 {
    background-color: hsl(211.86,80%,40%);
    color: #fff;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
    padding: 8px 0px;
}
.user-stats > p{
    margin: 10px;
    font-size: 15px;
}
.user-stats > p > span {
    text-decoration: underline 1px;
}